<h3>Student Form</h3>

 <!-- <%= form_for @student do |f| %>
<%= f.label :first_name %>
 <%= f.text_field :first_name %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.submit "Submit Student"  %>
<% end %> -->

<!-- form for is auto nested params -->


<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <%= text_field_tag :first_name %><br>

  <label>Last Name:</label><br>
  <%= text_field_tag :last_name %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Student" %>
<% end %>
