
<h1>
<label>Student Form</label>
    <%= form_tag students_path do %>

    first name:<%= text_area_tag :'student[first_name]' %><br>
    last name:<%= text_area_tag :'student[last_name]' %>
    <%= submit_tag "Submit" %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%end %>
</h1>
